h1{
    
    font-family:cursive;
    font-size:xx-large;
    color:rgb(255, 0, 13);
    text-align: center;
    background-color: rgb(28, 28, 61);
}
body{
    
    background:url("./bg.png") ;
    background-size:cover;
}
.two{
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transform:translateX(40%);
}
.one{
    font-size: large;
    font-family: fantasy;
    transform:translateX(38%);

}
.three{
    font-size: large;
        font-family: fantasy;
        transform: translateX(42%)
    }
button{
background-color: rgb(12, 145, 0);
}
.four{
    width:100px;
    height:100px;
    background-color: red;
    position:relative;
    animation-name: square;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode:backwards;
    animation-play-state: running;
    animation-iteration-count: infinite;
}
@keyframes square{
    0%{
        background-color: red;
        left:0px;
        top:0px;
    }
    100%{
        background-color:green;
        left: 500px;
        top:0px
    }
   

}
.five{
    font-size: larger;
    font-weight: bolder;
    transform:translateX(40%);
}
.six{
    font-size:small;
    color: antiquewhite;  
    
}
.seven {
    background-color: black;
}
.nine{
    font-size: larger;
    transform: translateX(43%);
}